@media screen and (max-width: 980px) {
  .top-port {
    display:block;
    flex-grow:0;

  }

  .topleft-port{
    width: 100%;
  }
  .hire{
    font-size:17px
  }

  .numberscolors div{
    padding: 20px;
  }
  .topright-port{
    width: 100%;
    margin-top: 25px;
  }

  .portfolio-container{
    overflow: auto;
display: block;  }

  .App{
    overflow: auto;
  }

  .portfolio-container {
    max-height: calc(100vh - 20px); /* Ajuste la hauteur du conteneur principal en fonction de la taille de l'écran */

  }

  .numberscolors div{
    padding: 0px 0px;
  }

  .numberscolors span{
    padding: 30px 0px;
  }

  .bot-port{
    display: block;
  }

  .botleft-port{
    width: 100%;
  }

  .botright-port{
    width: 100%;
    margin-top: 25px;
  }


 
  
  .mobtitleport{
    display: block!important;
  }
  .desktitleport{
    display: none;
  }
}

.mobtitleport{
  display: none;
}

@media (max-height: 200px) and (max-width: 980px) {
  .portfolio-container {
    max-height: calc(100vh - 20px); /* Ajuste la hauteur du conteneur principal en fonction de la taille de l'écran */

  }

  .numberscolors div{
    padding: 0px 0px;
  }
  .desktitleport{
    display: none;
  }

 
 
}

@media screen and (min-width: 200px) and (max-width: 450px) {
  .numberscolors span{
    font-size:12px;
  }

  .secdrow-about .title-about{
    font-size:15px;
  }

  .overimage-container div:nth-child(3){
    display: none;
  }
  .overimage-container div:nth-child(4){
    display: none;
  }

  .infos-about div:nth-child(2){
    display: flex;
    justify-content: start;
  }

  .overimage{
    width: 50%;
  }

  .image-list {
    animation: scrollImages 5s linear infinite;
  }

  .menu-collapse p{
    font-size:40px;
  }

  .numberscolors b{
    font-size:40px
  }
  .item-project{
    width: calc(50% - 25px);
  }
  .filter-buttons button{
    margin-bottom: 0px;
  }
  .filter-buttons{
    margin-bottom: 25px;
  }

  .container-about{
    display: block;
  }

  .left-about{
    width: 100%;
  }

  .right-about{
    width: 100%;
  }

  .fastmenu{
    margin-top: 25px;
  }
  .title-about.scdabt{
    font-size:10px;
  }
  .title-about.scdabt b{
    font-size:18px
  }
  .infos-about div{
    display: block;
    text-align: left;
  }

  .cont-mod{
    display: block;
  }

  .titlemodal{
    width: 100%;
  }

  .titlemodalresp{
    width: 100%;
    margin-left: 10px;
  }

  .desc-project{
    display: block;
  }

  .desc-project div:nth-child(1){
    width: auto;
  }

  .desc-project div:nth-child(2){
    width: auto;
    margin-top: 25px;
  }
  .linkprojects-cont div{
    font-size:15px
  }

  .welcomecv span{
    text-align: left;
  }

  .hire{
    font-size: 15px;
    width: 200px;
    padding: 10px 0px;
  }

  .name{
    display: block;
    text-align: left;
  }

  .moreinfos div{
    display: block;
    text-align: left;
  }

  .labelinfos.comple{
    font-size:12px;
  }

  .repinfos.comple{
    font-size:13px;
  }
}

